<h1>Calculate a Square Root</h1>

<form action="/square_root/results">
  <label for="users_number">Enter a number:</label>
  <input id="users_number" type="number" name="users_number" required>
  <button type="submit">Calculate Square Root</button>
</form>
