<h1>Generate a Random Number</h1>

<form action="/random/results" method="POST">
  <label for="min">Minimum:</label>
  <input id="min" type="number" name="min" required>
  <label for="max">Maximum:</label>
  <input id="max" type="number" name="max" required>
  <button type="submit">Pick Random Number</button>
</form>
