<form action="/payment/results">
  <div>
    <label for="apr">Enter APR (annual percentage rate)</label>
    <input type="text" name="apr" id="apr" placeholder="Enter APR">
  </div>
  <div>
    <label for="years">Enter number of years</label>
    <input type="text" name="years" id="years" placeholder="Enter number of years">
  </div>
  <div>
    <label for="present_value">Enter present value</label>
    <input type="text" name="present_value" id="present_value" placeholder="Enter present value">
  </div>
  <button>Calculate monthly payment</button>
</form>
