<form action="/random/results">
  <div>
    <label for="min">Minimum</label>
    <input type="text" name="min" id="min" placeholder="Minimum">
  </div>
  <div>
    <label for="max">Maximum</label>
    <input type="text" name="max" id="max" placeholder="Maximum">
  </div>
  <button>Pick random number</button>
</form>
